[submodule "themes/akin"]
	path = themes/akin
	url = https://github.com/dcefram/akin.git
	branch = main
[submodule "toys/ts-interface-from-json"]
	path = toys/ts-interface-from-json
	url = https://github.com/dcefram/ts-interface-from-json.git
