[submodule "themes/hugo-future-imperfect"]
	path = themes/hugo-future-imperfect
	url = https://github.com/jpescador/hugo-future-imperfect.git
[submodule "themes/kiss"]
	path = themes/kiss
	url = git@github.com:dcefram/kiss.git
